h1{
	width:50%;
	background-color:black;
	color:white;
	text-align:center;
	display:inline-block;
	border-radius:10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	
}
.container1{
	justify-content:center;
}
#form1{
	display:inline-block;
	width: 50%;
	height:300px;
  background-color: powderblue;
  border-radius:10px;
  padding-top:30px;
}
body{
background-image: url("/static/images/bgimage.png");
background-repeat:no-repeat;
background-position:center;
background-size: cover;
text-align:center;
}
.container{
	display:inline-block;
}
input[type=text] {
  border: 0.5px solid black;
  border-radius: 4px;
  height:40px;
  text-align:center;
}